<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Developer Exam | Sourcefit Philippines</title>
        <meta charset="utf-8">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sourcefit.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Employee Database</h1>
            </header>
            <section id="content">
                <a class="btn" href="index.html"><i class="icon-arrow-left"></i> Back to list</a>
                <form name="edit" id="edit" method="post" action="edit.html" class="form-horizontal">
                    <fieldset>
                        <legend>Edit 'Nicole Cruz'</legend>
                        <div class="control-group">
                            <label class="control-label">ID</label>
                            <div class="controls">
                                <span class="uneditable-input">ID-2301</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" id="name" value="Nicole Cruz">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address">Address</label>
                            <div class="controls">
                                <textarea id="address">Quezon City</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="contact">Contact Number</label>
                            <div class="controls">
                                <input type="text" id="contact" value="09238271911">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" id="email" value="cruz.n@gmail.com">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="birthday">Date of Birth</label>
                            <div class="controls">
                                <input type="text" id="birthday" value="Jan 7, 1988">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <input type="submit" value="Edit" class="btn btn-primary btn-large">
                    </div>
                </form>
            </section>
            <footer class="row show-grid">
                <div class="footer-text span12">
                    Copyright &copy; 2012 Sourcefit Philippines. All rights reserved
                </div>
            </footer>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>