<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Developer Exam | Sourcefit Philippines</title>
        <meta charset="utf-8">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sourcefit.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Employee Database</h1>
            </header>
            <section id="content">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID-2301</td>
                            <td>Nicole Cruz</td>
                            <td>Quezon City</td>
                            <td>09238271911</td>
                            <td><a href="#">cruz.n@gmail.com</a></td>
                            <td>Jan 7, 1988</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-small" href="edit.html"><i class="icon-edit"></i> Edit</a>
                                    <a class="btn btn-small" href="delete.html"><i class="icon-trash"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row-fluid">
                    <a href="add.html" class="btn"><i class="icon-plus"></i> Add Record</a>
                </div>
            </section>
            <footer class="row show-grid">
                <div class="footer-text span12">
                    Copyright &copy; 2012 Sourcefit Philippines. All rights reserved
                </div>
            </footer>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>